* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: whitesmoke;
    display: block;
    align-items: center;
    overflow: hidden;
    transition: .3s ease all;
}
.dark-mode{
    margin: 10px;
    display: block;
    align-items: flex-end;
    text-align: end;
}
.dark-mode .claro{
    color: orange;
    display: none;
}
.dark-mode .oscuro{
    color: #272525;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px 50px;
    border-radius: 20px;
    font-family: 'Zen Kurenaido', sans-serif;
    border-radius: 20px;
    box-shadow: 1px 5px 3px 2px  #2725252f;
    transition: .5s ease all;
}

/* 
MENU DESPLEGABLE
*/

#navegador{
    margin:0 auto;
    width: 130%;
  
}
#navegador li{
    text-decoration: none;
}

/* 
SECCION 1
*/
#navegador #seccion1 {
    margin: 0px 5px;
    padding: 10px;
    width: 100%;
    float: left;
    list-style-type: none;
    position: relative;
    letter-spacing: 1px;
    transition: .3s ease all;
}
#seccion1 {
    display: none;

}

#seccion1 a {
    font-size: 10px;
    font-weight: 700;
    transition: .3s ease all;
}

#seccion1 a:hover {
    letter-spacing: 2px;
    color: lightslategrey;
}

#subseccion1 {
    position: absolute;
    width: 120%;
    top: 100%;
    left: 0px;
    background-color: #272525;
    padding: 20px;
    border-radius: 10px;
    display: none;
    transition: .3s ease all;
}
#subseccion1 h2{
    color: lightgrey;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
}

#subseccion1 a {
    font-size: 10px;
    color: silver;
    transition: .3s ease all;
}

#subseccion1 a:hover {
    color: crimson;
}
#subseccion1 .icono1 .html{
    color: orange;
}
#subseccion1 .icono1 .css{
    color: #403FBF;
}
#subseccion1 .icono1 .js{
    color: gold;
}
/* 
SECCION 2
*/

#navegador #seccion2 {
    margin: 0px ;

    padding: 10px;
    width: 100%;
    float: right;
    list-style-type: none;
    position: relative;
    transition: .3s ease all;
    
}
#seccion2 {
    display: block;
    /* margin-right: 200px; */

}

#seccion2 a {
    font-size: 20px;
    font-weight: 700;
    transition: .3s ease all;
}

#seccion2 a:hover {
    letter-spacing: 2px;
    color: lightslategrey;
}

#subseccion2 {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0px;
    background-color: #272525;
    padding: 20px;
    border-radius: 10px;
    display: none;
    transition: .3s ease all;
}

#subseccion2 a {
    font-size: 14px;
    color: silver;
    transition: .3s ease all;
}

#subseccion2 a:hover {
    color: crimson;
}

/* 
SECCION 3
*/

#navegador #seccion3 {
    margin: 0 ;
    margin-left: 250px;
    padding: 10px;
    width: 10%;
    float:left;
    list-style-type: none;
    position: relative;
    transition: .3s ease all;
  
}
#seccion3 {
    display: block;

}

#seccion3 a {
    font-size: 20px;
    font-weight: 700;
    transition: .3s ease all;
}

#seccion3 a:hover {
    letter-spacing: 2px;
    color: lightslategrey;
}

#subseccion3 {
    position: absolute;
    width: 120%;
    top: 100%;
    left: 0px;
    background-color: #272525;
    padding: 20px;
    border-radius: 10px;
    display: none;
    transition: .3s ease all;
}

#subseccion3 a {
    font-size: 14px;
    color: silver;
    transition: .3s ease all;
}

#subseccion3 a:hover {
    color: crimson;
}

/* 
SECCION 4
*/

#navegador #seccion4 {
    margin: 0 auto;
    /* margin-right: auto; */
    padding: 10px;
    width: 15%;
    float: left;
    list-style-type: none;
    position: relative;
    transition: .3s ease all;
}
#seccion4 {
    display: block;

}

#seccion4 a {
    font-size: 20px;
    font-weight: 700;
    transition: .3s ease all;
}

#seccion4 a:hover {
    letter-spacing: 2px;
    color: lightslategrey;
}

#subseccion4 {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0px;
    background-color: #272525;
    padding: 20px;
    border-radius: 10px;
    display: none;
    transition: .3s ease all;
}

#subseccion4 a {
    font-size: 14px;
    color: silver;
    transition: .3s ease all;
}

#subseccion4 a:hover {
    color: crimson;
}


/* 
NAV
*/
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: #272525;
    font-weight: bolder;
    font-size: 50px;
}

.menu {
    display: flex;
    width: auto;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

.menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: #272525;
    font-weight: bold;
    font-size: 20px;
    transition: .3s ease all;
}

.menu a:hover {
    letter-spacing: 3px;
}

.menu-inicial .html {
    color: orange;
}

.menu-inicial .css {
    color: dodgerblue;
}

.menu-inicial .js{
    color: goldenrod;
    font-size: 20px;
}

/* 
CONTENIDO
*/
main {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

main .contenedor-img {
    width: 100%;
    margin-right: 40px;
}

img {
    width: 100%;
    height: 300px;
    object-fit: contain;
}

main .contenedor-texto {
    width: 100%;
    padding: 10px;

}

.contenedor-texto h2 {
    font-size: 65px;
    color: #403FBF;
    margin: 0;
}

.contenedor-texto h2 .fa-globe-americas {
    color: lightskyblue;
    background: rgb(101, 211, 101);
    border-radius: 50%;
}

.contenedor-texto h3{
    font-size: 30px;
    color: darkcyan;
}
.contenedor-texto .my-texto {
    font-size: 30px;
    color: darkcyan;
    font-weight: bolder;
}

.contenedor-texto p {
    margin: 20px 0;
    font-size: 18px;
    font-weight: 500;
    color: #272525;
}

.contenedor-texto .bandera {
    background: #272525;
    width: 40px;
    height: 40px;
    padding: 5px;
    margin-right: 20px;
    border-radius: 50%;
}

.contenedor-texto .my-texto .fa-hamburger {
    font-size: 25px;
    color: orange;
    background: brown;
    border-radius: 50%;
    padding: 10px;
}

.contenedor-texto .email {
    text-decoration: none;
    font-weight: bolder;
    color: crimson;
    transition: .5s ease all;
}

.contenedor-texto .email:hover {
    letter-spacing: 2px;
}

.contenedor-texto .repo {
    display: block;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px #272525 solid;
    border-radius: 10px;
    padding: 10px 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #272525;
    font-size: 18px;
    font-weight: 600;
    transition: .3s ease all;
}

.contenedor-texto .repo:hover {
    background: #272525;
    color: whitesmoke;
}

footer {
    margin: 10px 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #444343;
    font-weight: bolder;
    font-size: 15px;
}

footer a {
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: .3s ease all;
    color: darkcyan;
    font-size: 17px;
    
}

footer a:hover {
    letter-spacing: 4px;
    color: crimson;
}
/* 
MODO OSCURO
*/
body.dark .dark-mode .claro{
    display: block;
}
body.dark .dark-mode .oscuro{
    display: none;
}
body.dark{
    background: #272525;
}
body.dark .container{
    background: #272525;
}
body.dark .logo{
    color: beige;
}
body.dark   #seccion1 a{
    color: cornsilk;
}
body.dark   #seccion2 a{
    color: wheat;
}
body.dark #seccion3 a{
    color: wheat;
}
body.dark #seccion4 a{
    color: wheat;
}
body.dark .contenedor-texto p{
    color: whitesmoke;
}
body.dark .contenedor-texto .repo{
    border: 1px beige solid;
    color: beige;
}
body.dark .contenedor-texto .repo:hover{
    background: beige;
    color: #272525;
}
body.dark #subseccion1{
    background: #444343;
}
body.dark #subseccion2{
    background: #444343;
}
body.dark #subseccion2 a{
    color: aliceblue;
}
body.dark #subseccion3{
    background: #444343;
}
body.dark #subseccion3 a{
    color: aliceblue;
}
body.dark #subseccion4{
    background: #444343;
}
body.dark #subseccion4 a{
    color: aliceblue;
}
/* 
RESPONSIVE
*/
@media screen and (max-width:1000px) {
    #navegador #seccion3{
        margin-left: 150px;
        width: 15%;
    }
    #navegador #seccion4{
        width: 20%;
    }
}
@media screen and (max-width:900px) {

    #navegador{
        margin: 0;
        width: 100%;
    }
    #navegador #seccion4{
        width: 28%;
    }
   
    .container {
        padding: 30px;
    }

    .menu {
        margin-right: 100px;
    }

    .menu a {
        font-size: 18px;
    }

    .contenedor-texto h2 {
        font-size: 50px;

    }

    .contenedor-texto .my-texto {
        font-size: 25px;
    }
}
@media  screen and (max-width:800px) {
    body{
        overflow: scroll;
    }
}

@media screen and (max-width:750px) {
    #seccion2 a,
    #seccion3 a,
    #seccion4 a {
      font-size: 15px; 
    }
    #navegador #seccion3{
        margin-left: 80px;
        width: 24%;
    }
    #navegador #seccion4{
        width: 33%;
    }
    .container {
        padding: 20px;
    }

    .menu {
        margin-right: 40px;
    }

    .menu a {
        font-size: 15px;
    }

    main {
        display: block;
        align-items: center;
        justify-content: center;
    }
    footer {
        margin: 10px 0;
    }
}
@media  screen and (max-width:600px) {
    #navegador #seccion3{
        margin-left: 40px;
    }
}
@media screen and (max-width:550px) {
    #navegador #seccion3{
        margin-left: 30px;
        width: 24%;
    }
    #navegador #seccion4{
        width: 35%;
    }
}

@media screen and (max-width:500px) {
   
    #seccion1 {
        display: block;
        width: 100%;
    }
    #seccion2,
    #seccion3,
    #seccion4 {
        display: none;
       
    }
    .logo {
        margin-bottom: 0;
    }

    header {

        margin-bottom: -40px;
    }

    .menu {
        align-items: center;
        justify-content: center;
        margin-right: 0;
    }

    .menu .menu-inicial {
        display: none;
    }

    

    .container {
        padding: 10px;
    }

    main {
        padding: 0;
        margin: 0;
    }

    .contenedor-texto h2 {
        font-size: 40px;

    }
    .contenedor-texto h3{
        font-size: 20px;
    }
    .contenedor-texto .bandera{
        height: 30px;
        width: 30px;
    }
    .contenedor-texto .my-texto .fa-hamburger{
        font-size: 15px;
    }

    .contenedor-texto p {
        font-size: 15px;
    }
    footer,
    footer a{
        font-size: 10px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width:400px) {}